body{
   background-color: darkblue
};
header{
    background-color: aqua;
    color: blueviolet;
    color: dodgerblue;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
